doctype HTML
html(lang="en")
	head
		meta(charset="utf-8")
		title Index Page
		link(rel="stylesheet", href="./css/main.min.css")
		script(src="./js/require.min.js", data-main="./js/require.config.js")
	body
		div.title_top
			
		div#big_text.
			hello world
			